node_modules
.pnpm-store

# builds
dist
build
.next
out

# turbo
.turbo

# cloudflare / wrangler
.wrangler
.dev.vars
.dev.vars.*
!.dev.vars.example

# env
.env
.env.local
.env.*.local

# test output
coverage

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts
.db
